
html, body{
	margin-left:auto;
	margin-right: auto;

}
#myImg { transition: margin-right 1s; }
#epaule{
  background:black;
  border-radius:50%;
  width:53px;
  height:53px;
  border:2px solid black; 
  opacity: 0.6;
  position: relative;
  z-index:2;
  margin-left: -1px;
  margin-top: -424px;

  }
  	
  .corps{
  	padding-right: 30px;
  	z-index:1;
  	left: 30%;
  	height: 20%;

  }
  #poignet{
  background:black;
  border-radius:50%;
  width:53px;
  height:53px;
  border:2px solid black; 
  opacity: 0.6;
  position: absolute;
   z-index:2;
  margin-left: -8px;
  margin-top: 80px;
  
  }
  #coude{
  	background:black;
  	border-radius:50%;
  	width:53px;
  	height:53px;
  	border:2px solid black; 
  	opacity: 0.6;
  	position: absolute;
   z-index:2;
   margin-left:100px;
   margin-top: 24px;
 }

  #genoux{
  	background:black;
  	border-radius:50%;
  	width:53px;
  	height:53px;
  	border:2px solid black; 
  	opacity: 0.6;
  	position: absolute;
   z-index:2;
   margin-left:20px;
   margin-top: 210px;
 
  }
  #hanche{
  	background:black;
  	border-radius:50%;
  	width:53px;
  	height:53px;
  	border:2px solid black; 
  	opacity: 0.6;
  	position: absolute;
   z-index:2;
   margin-left:70px;
   margin-top: 110px;
 
  }
  #cheville{
  	background:black;
  	border-radius:50%;
  	width:53px;
  	height:53px;
  	border:2px solid black; 
  	opacity: 0.6;
  	position: absolute;
   z-index:2;
   margin-left:62px;
   margin-top: 290px;
 }

  
  h1{
	text-align: center;
    font-family: 'Arvo', serif;
  }
 .calque{
 	display: flex;
 	flex-direction: row;
 	width: 360px;
	margin-top: 65px;
	margin-right: auto;
	margin-left: auto;

 }
 .texte{
 	font-family: 'Arvo', serif;

 }
 .display{
  display: none;
 }
.presentation{
  display: block;
}

.rouge{
  background-color: red;
}